<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738581135396-4ko37cv1q3333c6upmgj8v4c0snl8qdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738581135396-4ko37cv1q3333c6upmgj8v4c0snl8qdh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>738581135396-09hcrkh5jjmav1ueprf5ainv22i4vera.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrCiNEF3Es5WPkuqcLPwMhOOsLd6TPl2U</string>
	<key>GCM_SENDER_ID</key>
	<string>738581135396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.my-psycho.dev</string>
	<key>PROJECT_ID</key>
	<string>psiko-app</string>
	<key>STORAGE_BUCKET</key>
	<string>psiko-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738581135396:ios:f6e3d0a1d1c8e657ce18b1</string>
	<key>DATABASE_URL</key>
	<string>https://psiko-app.firebaseio.com</string>
</dict>
</plist>